<!DOCTYPE html>
<html lang = "en"> 
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset = "utf-8">     
     <title>Backend Challenges | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset = "UTF-8"/>
   </head>   
   <body>
      <div class="container">
        <header>API Basejump: <em>Image Search Abstraction Layer</em></header><br>
        <article>
        <p>User stories:</p>
          <p class="user">1) I can get the image URLs, alt text and page urls for a set of images relating to a given search string.<br> 2) I can paginate through the responses by adding, <em>?offset=2</em>, parameter to the end of the URL.<br> 3) I can get a list of the most recently submitted search strings.</p>
        </article>
          <footer>
          <p class="example">
            Example creation usage:
          </p>
            <p><mark>https://imaginary-bank.glitch.me/search/[your search term]</mark></p>
            <p><mark>https://imaginary-bank.glitch.me/search/[your search term]?offset=[a number to paginate]</mark></p>
            <p><mark>https://imaginary-bank.glitch.me/search/history</mark></p>
          <p class="example">
            Example creation output:
          </p>
          <p><mark>
            { "original_url": "http://foo.com:80", "shortened_url": "https://glacier-feather.glitch.me/sho.rt/RkYrez" }</mark></p>
            </footer>
      </div>
   </body>
</html>